<turbo-frame id="comment-{{ comment.id }}">
  <div class="card card-border-secondary mb-3">
    {% if comment.deletedAt %}
      <div class="p-2">This comment was deleted.</div>
    {% else %}
      {% if comment.id %}
        <div class="card-header">
          <span class="text-body">{{ comment.author ?? "Account deleted" }}</span>
          -
          <div class="d-inline text-dark">
            {{ comment.createdAt|format_date("full", locale = "en-US") }}
            {% if comment.updatedAt %}
              (updated {{ comment.updatedAt|format_date("full", locale = "en-US") }})
            {% endif %}
          </div>
  
          {% if comment.author == app.user %}
            <a href="{{ path('comment.edit', { id: comment.id }) }}" class="btn btn-primary btn-sm" title="Edit this comment">Edit</a>
            <form action="{{ path('comment.delete', { id: comment.id }) }}" method="POST" class="d-inline ms-2">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger btn-sm" title="Delete this comment" data-action="delete">Delete</button>
            </form>
          {% endif %}
        </div>
  
        <div class="card-body">
          {{ comment.text|nl2br }}
        </div>
      {% endif %}
    {% endif %}
  </div>
</turbo-frame>