<fieldset class="mb-3">
  <div id="{{ picture.vars.id }}">
    <img
      id="{{ 'thumbnail_' ~ picture.vars.data.id }}"
      src="{{ picture.vars.data.url }}"
      alt="{{ picture.vars.data.description }}"
      width="auto"
      height="100"
    />
    
    {{ form_row(picture.description) }}
  </div>
</fieldset>