<div class="grid mx-3" data-homepage-tricks-target="grid" data-next-page-number="{{ batch.nextPageNumber ?: 0 }}">
  {% for trick in batch.items %}
    <div class="card mb-3">
      <img
        src="{{ trick.mainMedia.url ?? asset('images/fallback-trick-image-640.jpg') }}"
        class="rounded-top"
        alt="{{ trick.name }}"
      >
      
      <div class="card-body text-muted">
        <h5 class="card-title">{{ trick.name }}</h5>
        {% if trick.category.id %}
          <p class="badge bg-secondary">{{ trick.category.name|lower }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
