<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Snowtricks{% endblock %}</title>
    <link rel="icon" href="/favicon.ico">

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
      <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}">
    {% endblock %}
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    {% block javascripts %}
      {% block importmap %}
        {{ importmap("app") }}
      {% endblock %}
    {% endblock %}
  </head>

  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>

    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage.index') }}">Snowtricks</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">

          {# Search #}
          <div data-bs-theme="light" data-controller="trick-search">
            <select
              {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                url: path('ux_entity_autocomplete', { alias: 'trick_search' }),
                tomSelectOptions: {
                  placeholder: 'Search tricks...'
                }
              }) }}
            >
            </select>
          </div>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                href="{{ path('homepage.index') }}"
                class="nav-link {{ app.current_route == 'homepage.index' ? 'active' }}"
              >Home
              </a>
            </li>
            <li class="nav-item">
              <a
                href="{{ path('trick.archive') }}"
                class="nav-link {{ app.current_route starts with 'trick' and app.current_route != 'trick.create' ? 'active' }}"
              >Tricks</a>
            </li>
            {% if app.user %}
              {% if is_granted('trick_create') %}
                <li class="nav-item">
                  <a
                    href="{{ path('trick.create') }}"
                    class="nav-link {{ app.current_route == 'trick.create' ? 'active' }}"
                  >Create trick</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <div class="d-flex align-items-center">
                  {% set fallbackProfilePicture = asset('images/fallback-profile-picture.png') %}
                  <img
                    src="{{ image('users', app.user)|default(fallbackProfilePicture) }}"
                    alt="Profile picture"
                    height="30"
                    width="30"
                    class="rounded-circle me-2 ms-md-2 me-md-0"
                  >
  
                  <a
                    href="{{ path('user.index') }}"
                    class="nav-link {{ app.current_route == 'user.index' ? 'active' }}"
                  >{{ app.user.username }}</a>
                </div>
              </li> 
              <li class="nav-item">
                <a
                  href="{{ path('auth.logout') }}"
                  class="nav-link"
                >Logout</a>
              </li> 
            {% else %}
              <li class="nav-item">
                <a
                  href="{{ path('auth.login') }}"
                  class="nav-link {{ app.current_route == 'auth.login' ? 'active' }}"
                >Sign in</a>
              </li>
              <li class="nav-item">
                <a
                  href="{{ path('auth.signup') }}"
                  class="nav-link {{ app.current_route == 'auth.signup' ? 'active' }}"
                >Sign up</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div id="flashes" class="container my-3">
      {% for type, messages in app.flashes %}
        {% for message in messages %}
          {{ include('_flash.html.twig') }}
        {% endfor %}
      {% endfor %}
    </div>

    <div id="main-content">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
