{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-md-start mb-4">Please sign in</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('auth.logout') }}">Logout</a>
                </div>
            {% endif %}
        
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
            <div class="checkbox my-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        
            <div class="text-center text-md-start">
                <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
            </div>
        </form>

        <div class="row gx-4 gx-lg-5 text-center m-4">
			<a href="{{ path('auth.password-reset-step-1') }}">Forgot your password? Click here.</a>
		</div>

		<div class="row gx-4 gx-lg-5 text-center mb-4">
			<a href="{{ path('auth.signup') }}">Not registered yet? Create an account.</a>
		</div>
    </div>
{% endblock %}
