{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center text-md-start mb-4">Reset password</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}

      {{ form_row(form.email) }}

      <div class="text-center text-md-start">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>

      {{ form_rest(form) }}

    {{ form_end(form) }}
  </div>
{% endblock %}
