{% extends "base.html.twig" %}

{% block title %}Snowtricks - {{ app.user.username }}{% endblock %}

{% block body %}
  <div class="container">
    <h1>User account</h1>

    {{ form_start(form, {'attr': {'data-controller': 'user'} }) }}

      {{ form_row(form.username)}}

      {{ form_row(form.email)}}
      {% if app.user.isVerified %}
        <small class="text-success">Email address verified</small>
      {% else %}
        <small>Email address not verified (<a href="/sendVerificationEmail" id="sendVerificationEmail">send a verification link to my email address</a>)</small>
      {% endif %}

      {{ form_row(form.plainPassword)}}

    {{ form_end(form) }}
  </div>
{% endblock %}