{% extends "base.html.twig" %}

{% block title %}Snowtricks - {{ app.user.username }}{% endblock %}

{% block body %}
  <div class="container">
    <h1>User account</h1>

    {{ form_start(form, {'attr': {'data-controller': 'user'} }) }}

      {{ form_row(form.username) }}

      {{ form_row(form.email) }}
      {% if app.user.isVerified %}
        <small class="text-success">Email address verified</small>
      {% else %}
        <small>Email address not verified (<a href="{{ path('auth.user.send-verification-email') }}" id="sendVerificationEmail" data-action="user#sendVerificationEmail" data-turbo="false">send a verification link to my email address</a>)</small>
      {% endif %}

      <div class="mt-5 fs-5">
        <p class="m-0">Password change (leave empty to keep unmodified)</p>
      </div>


      {{ form_row(form.currentPassword) }}

      {{ form_row(form.newPassword) }}

      {# Submit Button #}
      <button class="btn btn-primary text-uppercase mt-4" id="submitButton" type="submit">Save</button>

    {{ form_end(form) }}

    {# Delete account button #}
    <div class="mt-3">
      <form action="{{ path('auth.user.delete') }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger" title="Delete my account" data-action="delete">Delete account</button>
      </form>
    </div>
  </div>
{% endblock %}
