<div class="card mb-3 trick-card" id="trick-{{ trick.id }}">
  <a
    href="{{ path('trick.single', {id: trick.id, slug: trick.slug}) }}"
    title="{{ trick.name }}"
    target="_top"
  >
    {% set fallbackMainPicture = asset('images/fallback-trick-image-640.jpg') %}
    <img
      src="{{ image('tricks', trick.mainPicture, 'medium')|default(fallbackMainPicture) }}"
      class="w-100 rounded-top"
      alt="{{ trick.name }}"
    >
  </a>
  
  <div class="card-body text-muted">
    <div class="d-flex justify-content-between">
      <a
        href="{{ path('trick.single', {id: trick.id, slug: trick.slug}) }}"
        class="text-decoration-none"
        title="{{ trick.name }}"
        target="_top"
      >
        <h5 class="card-title">{{ trick.name }}</h5>
      </a>

      <div class="d-flex">
        {% if is_granted('trick_edit', trick) %}
          <a
            href="{{ path('trick.edit', {id: trick.id}) }}"
            class="text-decoration-none"
            data-action="edit"
            title="Edit the trick"
            target="_top"
          >
            <twig:ux:icon name="material-symbols:edit-outline" class="fs-4" />
          </a>
        {% endif %}
        {% if is_granted('trick_delete', trick) %}
          <form action="{{ path('trick.delete', {id: trick.id}) }}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button
              class="btn btn-link align-baseline p-0 m-0"
              title="Delete the trick"
              data-controller="delete-button"
              data-confirmation="Are you sure that you want to delete this trick?"
            >
              <twig:ux:icon name="material-symbols:delete-outline" class="fs-4" />
            </button>
          </form>
        {% endif %}
      </div>
    </div>

    {% if trick.category %}
      <p class="badge bg-secondary">{{ trick.category|lower }}</p>
    {% endif %}
  </div>
</div>
