<fieldset class="mb-3">
  <div id="{{ picture.vars.id }}">
    <img
      id="{{ 'thumbnail_' ~ picture.vars.data.id }}"
      src="{{ image('tricks', picture.vars.data.filename) }}"
      alt="{{ picture.vars.data.description }}"
      width="auto"
      height="100"
    />
    
    {{ form_row(picture.description) }}

    {{ form_row(picture.setAsMainPicture) }}

    {% do picture.setRendered %}
  </div>
</fieldset>
