<div class="card mb-3">
  <a href="{{ path('trick.single', {id: trick.id, slug: trick.slug}) }}" title="{{ trick.name }}">
    <img
      src="{{ trick.mainMedia.url ?? asset('images/fallback-trick-image-640.jpg') }}"
      class="w-100 rounded-top"
      alt="{{ trick.name }}"
    >
  </a>
  
  <div class="card-body text-muted">
    <div class="d-flex justify-content-between">
      <a href="{{ path('trick.single', {id: trick.id, slug: trick.slug}) }}" class="text-decoration-none" title="{{ trick.name }}">
        <h5 class="card-title">{{ trick.name }}</h5>
      </a>

      <div class="d-flex">
        <a href="{{ path('trick.edit', {id: trick.id}) }}" class="text-decoration-none" title="Edit">
          <i data-feather="edit"></i>
        </a>
        <a href="/tricks/{{ trick.id }}/delete" class="text-decoration-none" title="Delete">
          <i data-feather="trash-2"></i>
        </a>
      </div>
    </div>

    {% if trick.category.id %}
      <p class="badge bg-secondary">{{ trick.category.name|lower }}</p>
    {% endif %}
  </div>
</div>
