{% extends "base.html.twig" %}

{% block title %}
  {{ trick.name ? trick.name ~ " - Edit" : "Create trick" }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('styles/trick/single.css') }}">
{% endblock %}

{% block body %}

  <header>
    {% if trick.id %}
      <div class="container mx-3 mx-sm-auto my-5 text-center main-media">
        <img
        src="{{ trick.mainMedia.url ?? asset('images/fallback-trick-image-1920.jpg') }}"
        class="main-media__image rounded"
        alt="{{ trick.name }}"
        >
        <div class="main-media__overlay rounded-bottom">
          <h1 class="main-media__trick-name">{{ trick.name }}</h1>
        </div>
      </div>
    {% else %}
      <div class="container text-center">
        <h1>Create trick</h1>    
      </div>
    {% endif %}
  </header>

  <main>
    <div class="container">
      {{ form(form) }}
    </div>
  </main>
{% endblock %}
