{% extends 'base.html.twig' %}

{% block title trick.name %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('styles/trick/single.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/comment/comment.css') }}">
{% endblock %}

{% block body %}
  <header>
    <div class="container mx-3 mx-sm-auto my-5 text-center main-picture">
      {% set fallbackMainPicture = asset('images/fallback-trick-image-1920.jpg') %}
      <img
        src="{{ image('tricks', trick.mainPicture)|default(fallbackMainPicture) }}"
        class="main-picture__image rounded"
        alt="{{ trick.name }}"
      >
      <div class="main-picture__overlay rounded-bottom">
        <h1 class="main-picture__trick-name">{{ trick.name }}</h1>
      </div>

      {% if is_granted('trick_edit', trick) or is_granted('trick_delete', trick) %}
        <div class="main-picture__edit-overlay rounded">
          {% if is_granted('trick_edit', trick) %}            
            <a href="{{ path('trick.edit', {id: trick.id}) }}" class="text-decoration-none" data-action="edit" title="Edit">
              <span class="material-symbols-outlined">edit</span>
            </a>
          {% endif %}
          {% if is_granted('trick_delete', trick) %}
            <form action="{{ path('trick.delete', {id: trick.id}) }}" method="post" data-turbo="false">
              <input type="hidden" name="_method" value="DELETE">
              <button
                class="btn btn-link align-baseline p-0 m-0"
                title="Delete the trick"
                data-controller="delete-button"
                data-confirmation="Are you sure that you want to delete this trick?"
              >
                <span class="material-symbols-outlined">delete</span>
              </button>
            </form>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </header>

  <main>
    <div class="container mb-4" data-controller="trick-media">
      <div class="text-center d-md-none">
        <button type="button" data-action="trick-media#toggleCollection" class="btn btn-primary">See media</button>
      </div>

      <div
        class="d-flex d-none d-md-flex flex-column flex-wrap flex-md-row justify-content-center align-items-center overflow-auto"
        id="trick-media"
      >
        {{ include('trick/_media_overlay.html.twig') }}

        {% for picture in trick.pictures %}
          <button
            type="button"
            class="btn mx-3 my-2 thumbnail"
            data-trick-media-target="media"
            data-type="picture"
            data-caption="{{ picture.description }}"
          >
            <img
              src="{{ image('tricks', picture) }}"
              height="100"
              title="{{ picture.description }}"
              alt="{{ picture.description }}"
            >
          </button>
        {% else %}
          <div class="mx-3 my-2">No picture was added to this trick. Add one!</div>
        {% endfor %}

        {% for video in trick.videos %}
          {% if video.iframe %}
            <button
              type="button"
              class="btn mx-3 my-2 thumbnail"
              data-trick-media-target="media"
              data-type="video"
              data-iframe="{{ video.iframe }}"
              data-caption="{{ video.title }}"
              >
              <img
                src="{{ video.thumbnailUrl|default(asset('images/video-thumbnail-placeholder.gif')) }}"
                height="100"
                title="{{ video.title }}"
                alt="{{ video.title }}"
                class="video-thumbnail"
              >
            </button>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="container mb-5">
      {{ trick.description|nl2br }}
    </div>

    <div class="container mb-5">
      <div class="d-flex justify-content-center flex-wrap">
        {% if trick.category %}
          <div class="badge bg-secondary m-1">{{ trick.category.name }}</div>
        {% endif %}

        {% if trick.author %}
          <div class="badge bg-secondary m-1">Added by {{ trick.author.username }}</div>
        {% endif %}
  
        <div class="badge bg-secondary m-1">Created {{ trick.createdAt|format_date("full", locale = "en-US") }}</div>

        {% if trick.updatedAt %}
          <div class="badge bg-secondary m-1">Updated {{ trick.updatedAt|format_date("full", locale = "en-US") }}</div>
        {% endif %}
      </div>
    </div>

    {# Comments #}
    <div class="container px-4 px-lg-5 mb-4">
      <h2>Comments</h2>

      {{ render(path('comment.create', { trickId: trick.id })) }}

      {{ render(path('comment.list', { trickId: trick.id, page: 1 })) }}
		</div>

  </main>
{% endblock %}
