{% extends 'base.html.twig' %}

{% block title trick.name %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('styles/trick/single.css') }}">
{% endblock %}

{% block body %}
  <header>
    <div class="container mx-3 mx-sm-auto my-5 text-center main-picture">
      {% set fallbackMainPicture = asset('images/fallback-trick-image-1920.jpg') %}
      <img
        src="{{ image('tricks', trick.mainPicture)|default(fallbackMainPicture) }}"
        class="main-picture__image rounded"
        alt="{{ trick.name }}"
      >
      <div class="main-picture__overlay rounded-bottom">
        <h1 class="main-picture__trick-name">{{ trick.name }}</h1>
      </div>
      <div class="main-picture__edit-overlay rounded">
        <a href="{{ path('trick.edit', {id: trick.id}) }}" class="text-decoration-none" data-action="edit" title="Edit">
          <i data-feather="edit"></i>
        </a>
        <form action="{{ path('trick.delete', {id: trick.id}) }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-link align-baseline p-0 m-0" data-action="delete" title="Delete">
            <i data-feather="trash-2"></i>
          </button>
        </form>
      </div>
    </div>
  </header>

  <main>
    <div class="container mb-4">
      <div
        class="d-flex flex-column flex-wrap flex-md-nowrap flex-md-row justify-content-center align-items-center overflow-auto"
        data-controller="trick-media"
      >
        {{ include('trick/includes/_media-overlay.html.twig') }}

        {% for picture in trick.pictures %}
          <button
            type="button"
            class="btn mx-3 my-2 thumbnail"
            data-trick-media-target="media"
            data-type="picture"
            data-caption="{{ picture.description }}"
          >
            <img
              src="{{ image('tricks', picture) }}"
              height="100"
              title="{{ picture.description }}"
              alt="{{ picture.description }}"
            >
          </button>
        {% else %}
          <div class="mx-3 my-2">No picture was added to this trick. Add one!</div>
        {% endfor %}

        {% for video in trick.videos %}
          <button
            type="button"
            class="btn mx-3 my-2 thumbnail"
            data-trick-media-target="media"
            data-type="video"
            data-iframe="{{ video.iframe }}"
            data-caption="{{ video.title }}"
            >
            <img
              src="{{ video.thumbnailUrl }}"
              height="100"
              title="{{ video.title }}"
              alt="{{ video.title }}"
              class="video-thumbnail"
            >
          </button>
        {% endfor %}
      </div>
    </div>

    <div class="container mb-5">
      {{ trick.description|quill }}
    </div>

    <div class="container mb-5">
      <div class="d-flex justify-content-center">
        {% if trick.category %}
          <div class="badge bg-secondary mx-1">{{ trick.category.name }}</div>
        {% endif %}

        {% if trick.author %}
          <div class="badge bg-secondary mx-1">Added by {{ trick.author.username }}</div>
        {% endif %}
  
        <div class="badge bg-secondary mx-1">Created {{ trick.createdAt|format_date("full", locale = "en-US") }}</div>

        {% if trick.updatedAt %}
          <div class="badge bg-secondary mx-1">Updated {{ trick.updatedAt|format_date("full", locale = "en-US") }}</div>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
