{% extends 'base.html.twig' %}

{% block title trick.name %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('styles/trick/single.css') }}">
{% endblock %}

{% block body %}
  <header>
    <div class="container mx-3 mx-sm-auto my-5 text-center main-media">
      <img
        src="{{ trick.mainMedia.url ?? asset('images/fallback-trick-image-1920.jpg') }}"
        class="main-media__image rounded"
        alt="{{ trick.name }}"
      >
      <div class="main-media__overlay rounded-bottom">
        <h1 class="main-media__trick-name">{{ trick.name }}</h1>
      </div>
      <div class="main-media__edit-overlay rounded">
        <a href="{{ path('trick.edit', {id: trick.id}) }}" class="text-decoration-none" data-action="edit" title="Edit">
          <i data-feather="edit"></i>
        </a>
        <form action="{{ path('trick.delete', {id: trick.id}) }}">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-link align-baseline p-0 m-0" data-action="delete" title="Delete">
            <i data-feather="trash-2"></i>
          </button>
        </form>
      </div>
    </div>
  </header>

  <main>
    <div class="container mb-5">
      {{ trick.description }}
    </div>

    <div class="container mb-5">
      <div class="d-flex justify-content-center">
        {% if trick.category %}
          <div class="badge bg-secondary mx-1">{{ trick.category.name }}</div>
        {% endif %}
  
        <div class="badge bg-secondary mx-1">Created {{ trick.createdAt|format_date("full", locale = "en-US") }}</div>

        {% if trick.updatedAt %}
          <div class="badge bg-secondary mx-1">Updated {{ trick.updatedAt|format_date("full", locale = "en-US") }}</div>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
