{% extends "base.html.twig" %}

{% block title %}Snowtricks - {{ app.user.username }}{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center text-md-start mb-4">User account</h1>

    {{ form_start(form, {'attr': {'data-controller': 'user'} }) }}

      {{ form_row(form.username) }}

      <div class="mb-3">
        {{ form_label(form.email) }}
        
        {{ form_widget(form.email) }}

        {{ form_errors(form.email) }}

        <div class="form-text mb-0 help-text">
          {% if app.user.verified %}
            <span class="text-success">Email address verified</span>
          {% else %}
            <span>Email address not verified (<a href="{{ path('user.send-verification-email') }}" id="sendVerificationEmail" data-action="user#sendVerificationEmail" data-turbo="false">send a verification link to my email address</a>)</span>
          {% endif %}
        </div>
      </div>

      {% set profilePicture = image('users', app.user) %}
      <div class="mt-3">
        {% set fallbackProfilePicture = asset('images/fallback-profile-picture.png') %}
        <img
          src="{{ profilePicture|default(fallbackProfilePicture) }}"
          alt="Profile picture preview"
          height="200"
          class="rounded-circle"
          data-user-target="profilePiturePreview"
        >
      </div>

      {% if profilePicture %}
       {{ form_row(form.removeProfilePicture) }}
      {% else %}
       {% do form.removeProfilePicture.setRendered %}
      {% endif %}

      {{ form_row(form.profilePicture, {attr: {'data-user-target': 'profilePictureInput', 'data-action': 'change->user#showProfilePicturePreview'} }) }}

      <div class="mt-5 fs-5">
        <p class="m-0">Password change (leave empty to keep unmodified)</p>
      </div>

      {{ form_row(form.currentPassword) }}

      {{ form_row(form.newPassword) }}

      {# Submit Button #}
      <div class="text-center text-md-start">
        <button class="btn btn-primary text-uppercase mt-4" id="submitButton" type="submit">Save</button>
      </div>

      {{ form_rest(form) }}

    {{ form_end(form) }}

    {# Delete account button #}
    <div class="text-center text-md-start my-3">
      <form action="{{ path('user.delete') }}" method="POST" data-turbo="false">
        <input type="hidden" name="_method" value="DELETE">
        <button
          class="btn btn-danger"
          title="Delete my account"
          data-controller="delete-button"
          data-confirmation="Are you sure that you want to delete your account?"
        >Delete account</button>
      </form>
    </div>
  </div>
{% endblock %}
